header {
    background-color: transparent;
    height: 93px;
    padding-top: 49px;
    position: relative;
    z-index: 3;
}
.pt0 {
    padding-top: 0;
    .header__contacts__wrap_hide {
        top: 78px;
    }
}
.header {
    &__wrapper {
        max-width: 1609px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__contacts {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-left: auto;
        &__wrap {
            position: relative;
            &_hide {
                display: none;
                position: absolute;
                top: 98px;
                background-color: #fff;
                border-radius: 8px;
                padding: 6px;
                .header__phone {
                    color: #000;
                    background-color: transparent;
                    transition: background-color .3s;
                    &::after {
                        display: none;
                    }
                    &:hover {
                        background-color: #EDFF80;
                    }
                }
                &_active {
                    display: block;
                }
            }
        }
        &_mob {
            .header__contacts__wrap_hide {
                top: 39px;
            }
            .header__phone__wrap {
                position: relative;
            }
        }
        .btn_41 {
            color: #333;
            font-size: 15px;
        }
        &__icon {
            width: 30px;
            height: 24px;
            background: url(../img/icons/phone.svg) no-repeat center/contain;

           
            margin-right: 48px;
            &_active {
                background: #1D1D1D url(../img/icons/close.svg) no-repeat center/20px;
                margin-right: -3px;
                z-index: 3;
                position: relative;
                
            }
        }
        &_mobile {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, .95);
            display: none;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            z-index: 2;
            &_active {
                display: flex;
                padding-bottom: 36px;
            }
            .header__phone {
                color: #000;
                width: fit-content;
                &:first-child {
                    background-color: $yellow;
                    margin-bottom: 7px;
                }
                &:nth-child(2) {
                    background-color: #ffffff20;
                    color: #fff;
                }
                &::after {
                    display: none;
                }
            }
        }
    }
    &__phone {
        height: 41px;
        display: block;
        padding: 12px 51px 11px 20px;
        line-height: normal;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        border-radius: 8px;
        background: rgba(217, 217, 217, .1);
        position: relative;
        transition: background-color .3s;
        &:hover {
            background-color: rgb(85%, 85%, 85%, .3);
        }
        &::after {
            content: '';
            width: 18px;
            height: 11px;
            background: url(../img/icons/yellow-arrow-down.svg) no-repeat center/ contain;
            display: block;
            position: absolute;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.logo {
    width: 204px;
    height: 44px;
    display: block;
    margin-right: 110px;
    img {
        width: 100%;
        display: block;
    }
}
nav {
    height: 100%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    column-gap: 40px;
    height: 100%;
    .item {
        height: 100%;
    }
    &__link {
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        color: #fff;
        opacity: .7;
        height: 100%;
        display: flex;
        align-items: center;
        transition: opacity .3s;
        &:hover {
            opacity: 1;
        }
    }
}
.hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 22px;
    height: 18px;
    position: absolute;
    z-index: 2;
    top: 21px;
    right: 16px;
    cursor: pointer;
    span {
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
    }
    &_active {
        top: 20px;
        z-index: 3;
        position: fixed;
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translateY(11px);
                background: #fff;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-11px);
                background: #fff;
            }
        }
    }
}
.dropdown-toggle {
    cursor: pointer;
    width: 14px;
    height: 14px;
    background: url(../img/icons/drop.svg) no-repeat center/contain;
    display: block;
    border: none;
}

