.map {
   .tabs {
    position: relative;
   }
    .tabs__content {
        display: none; /* по умолчанию прячем все блоки */
      }
      .tabs__content.active {
        display: block; /* по умолчанию показываем нужный блок */
      }
      .tabs__caption {
        list-style-type: none;
        display: flex;
        gap: 16px;
        position: absolute;
        z-index: 2;
        top: 39px;
        left: 50%;;
        transform: translateX(-50%);
        li {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: #000;
            padding: 12px 32px 13px;
            background-color: #fff;
            border-radius: 8px;
            transition: background-color .3s;
            cursor: pointer;
        }
        li.active {
            background-color: $yellow;
        }
      }
      #map, #map2 {
        width: 100%;
        height: 731px;
        .ymaps-2-1-79-ground-pane {
          filter: grayscale(1) invert(86%);
        }
      }
      &__adress {

        .wrapper {
          gap: 29px;
        }
        position: absolute;
        bottom: 44px;
        right: 13%;
        border-radius: 15px;
        border: 1px solid #454545;
        padding: 24px;
        background: #383838;
        max-width: 610px;
        min-height: 163px;
        &__mark {
          position: absolute;
          width: 36px;
          height: 36px;
          right: 20px;
          bottom: 20px;
        }
        &__img {
          min-width: 159px;
          width: 159px;
          height: 115px;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
  
        }
      }
      &__label {
        color: #DBFF00;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        border-radius: 4px;
        padding: 1px 9px 3px;
        background: #DBFF0010;
        width: fit-content;
        margin-bottom: 13px;
      }
     
}